__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
proto/**
!proto/cmd.py
*.lock
*.log
parse_cmd.py
clean_proto.py
unclean.proto
freesr-data.json
db.json
_kcpshimmy
s.bat
res.json
bench_compile.py
avatarConfigs.json
